<h2 class="Products"> Products </h2>

<div class="ProductsContents">
    <div *ngFor="let product of products" class="productCards">
           <div class="titleCard">
                <h3>
                    <a [routerLink]="['/products', product.id]">
                        {{ product.name }}
                    </a>
                </h3>
            </div>
        <p *ngIf="product.description"> 
            Description: {{product.description}}
        </p>

        <button type="button" (click)="share()">
            Share
        </button>

        <app-product-alerts
            [product]="product"
            (notify)="onNotify()">
        </app-product-alerts>

    </div>
</div>